<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>吊板1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{746,33}</string>
                <key>spriteSourceSize</key>
                <string>{746,33}</string>
                <key>textureRect</key>
                <string>{{746,286},{746,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>吊板2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{746,33}</string>
                <key>spriteSourceSize</key>
                <string>{746,33}</string>
                <key>textureRect</key>
                <string>{{0,253},{746,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>吊板3@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{746,33}</string>
                <key>spriteSourceSize</key>
                <string>{746,33}</string>
                <key>textureRect</key>
                <string>{{0,286},{746,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>吊板4@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{746,33}</string>
                <key>spriteSourceSize</key>
                <string>{746,33}</string>
                <key>textureRect</key>
                <string>{{746,253},{746,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>烛台33@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{854,668}</string>
                <key>spriteSourceSize</key>
                <string>{854,668}</string>
                <key>textureRect</key>
                <string>{{774,319},{854,668}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>烛台拷贝@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{774,636}</string>
                <key>spriteSourceSize</key>
                <string>{774,636}</string>
                <key>textureRect</key>
                <string>{{0,319},{774,636}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装饰1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,45}</string>
                <key>spriteSourceSize</key>
                <string>{58,45}</string>
                <key>textureRect</key>
                <string>{{58,0},{58,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装饰2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,50}</string>
                <key>spriteSourceSize</key>
                <string>{58,50}</string>
                <key>textureRect</key>
                <string>{{0,0},{58,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装饰3@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,22}</string>
                <key>spriteSourceSize</key>
                <string>{123,22}</string>
                <key>textureRect</key>
                <string>{{339,0},{123,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装饰4@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,123}</string>
                <key>spriteSourceSize</key>
                <string>{120,123}</string>
                <key>textureRect</key>
                <string>{{219,0},{120,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装饰5@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,35}</string>
                <key>spriteSourceSize</key>
                <string>{103,35}</string>
                <key>textureRect</key>
                <string>{{116,0},{103,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>铁棍1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,253}</string>
                <key>spriteSourceSize</key>
                <string>{271,253}</string>
                <key>textureRect</key>
                <string>{{733,0},{271,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>铁棍2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,253}</string>
                <key>spriteSourceSize</key>
                <string>{271,253}</string>
                <key>textureRect</key>
                <string>{{1004,0},{271,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>铁棍3@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,253}</string>
                <key>spriteSourceSize</key>
                <string>{271,253}</string>
                <key>textureRect</key>
                <string>{{462,0},{271,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>铁棍4@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,253}</string>
                <key>spriteSourceSize</key>
                <string>{271,253}</string>
                <key>textureRect</key>
                <string>{{1275,0},{271,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wall1.png</string>
            <key>size</key>
            <string>{1628,987}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e46de50836c0ff593e8d12089dc3371e:919eb73e1b90999227912dc6c6f81a3f:2be1135b3a131d91cd8de2c3297fe843$</string>
            <key>textureFileName</key>
            <string>wall1.png</string>
        </dict>
    </dict>
</plist>
