<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>世界排行@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,26}</string>
                <key>spriteSourceSize</key>
                <string>{104,26}</string>
                <key>textureRect</key>
                <string>{{365,0},{104,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>世界排行拷贝@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,56}</string>
                <key>spriteSourceSize</key>
                <string>{179,56}</string>
                <key>textureRect</key>
                <string>{{687,0},{179,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>好友排行1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,56}</string>
                <key>spriteSourceSize</key>
                <string>{179,56}</string>
                <key>textureRect</key>
                <string>{{0,78},{179,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>好友排行@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,26}</string>
                <key>spriteSourceSize</key>
                <string>{97,26}</string>
                <key>textureRect</key>
                <string>{{268,0},{97,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>排行榜-0@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,100}</string>
                <key>spriteSourceSize</key>
                <string>{387,100}</string>
                <key>textureRect</key>
                <string>{{483,78},{387,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>排行榜-上一页@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,61}</string>
                <key>spriteSourceSize</key>
                <string>{109,61}</string>
                <key>textureRect</key>
                <string>{{578,0},{109,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>排行榜-下一页拷贝@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,61}</string>
                <key>spriteSourceSize</key>
                <string>{109,61}</string>
                <key>textureRect</key>
                <string>{{469,0},{109,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>排行榜-头像@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{126,0},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>排行榜-头像框@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{190,0},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>排行榜-展示卡片@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,114}</string>
                <key>spriteSourceSize</key>
                <string>{580,114}</string>
                <key>textureRect</key>
                <string>{{0,192},{580,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>排行榜-第一@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,39}</string>
                <key>spriteSourceSize</key>
                <string>{42,39}</string>
                <key>textureRect</key>
                <string>{{84,0},{42,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>排行榜-第二@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,39}</string>
                <key>spriteSourceSize</key>
                <string>{42,39}</string>
                <key>textureRect</key>
                <string>{{42,0},{42,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>排行榜-背景框@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,916}</string>
                <key>spriteSourceSize</key>
                <string>{650,916}</string>
                <key>textureRect</key>
                <string>{{0,306},{650,916}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>排行榜第三@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,39}</string>
                <key>spriteSourceSize</key>
                <string>{42,39}</string>
                <key>textureRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>排行榜群排行@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,114}</string>
                <key>spriteSourceSize</key>
                <string>{304,114}</string>
                <key>textureRect</key>
                <string>{{179,78},{304,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RankUI.png</string>
            <key>size</key>
            <string>{870,1222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb6673c0e362b4f840f0277e207ebfa0:ec0381ba748251c748ee056428917e81:b4eee9e0375133d14c95632cf8dfd154$</string>
            <key>textureFileName</key>
            <string>RankUI.png</string>
        </dict>
    </dict>
</plist>
