<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>删除@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{289,106},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>抽屉按钮2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,71}</string>
                <key>spriteSourceSize</key>
                <string>{77,71}</string>
                <key>textureRect</key>
                <string>{{359,106},{77,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>枪械库-@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,100}</string>
                <key>spriteSourceSize</key>
                <string>{387,100}</string>
                <key>textureRect</key>
                <string>{{0,277},{387,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>枪械库弹窗@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,53}</string>
                <key>spriteSourceSize</key>
                <string>{176,53}</string>
                <key>textureRect</key>
                <string>{{0,50},{176,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>枪械库弹窗内容框@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,246}</string>
                <key>spriteSourceSize</key>
                <string>{204,246}</string>
                <key>textureRect</key>
                <string>{{172,682},{204,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>枪械库弹窗子弹@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,24}</string>
                <key>spriteSourceSize</key>
                <string>{10,24}</string>
                <key>textureRect</key>
                <string>{{24,0},{10,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>枪械库弹窗按钮2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,56}</string>
                <key>spriteSourceSize</key>
                <string>{156,56}</string>
                <key>textureRect</key>
                <string>{{176,50},{156,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>枪械库弹窗按钮@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,56}</string>
                <key>spriteSourceSize</key>
                <string>{156,56}</string>
                <key>textureRect</key>
                <string>{{0,106},{156,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>枪械库弹窗未选中小圆点@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>枪械库弹窗选中小圆点@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{12,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>皮肤库-@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,100}</string>
                <key>spriteSourceSize</key>
                <string>{387,100}</string>
                <key>textureRect</key>
                <string>{{96,177},{387,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>皮肤库-好友邀请@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,115}</string>
                <key>spriteSourceSize</key>
                <string>{308,115}</string>
                <key>textureRect</key>
                <string>{{0,377},{308,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>皮肤库-小贝景@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,194}</string>
                <key>spriteSourceSize</key>
                <string>{172,194}</string>
                <key>textureRect</key>
                <string>{{0,682},{172,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>皮肤库-小贝景遮罩@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,190}</string>
                <key>spriteSourceSize</key>
                <string>{168,190}</string>
                <key>textureRect</key>
                <string>{{308,492},{168,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>皮肤库-进度条@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,26}</string>
                <key>spriteSourceSize</key>
                <string>{99,26}</string>
                <key>textureRect</key>
                <string>{{34,0},{99,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>皮肤库-进度条bj@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,30}</string>
                <key>spriteSourceSize</key>
                <string>{132,30}</string>
                <key>textureRect</key>
                <string>{{133,0},{132,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>皮肤库-金币-600@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,62}</string>
                <key>spriteSourceSize</key>
                <string>{133,62}</string>
                <key>textureRect</key>
                <string>{{156,106},{133,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>皮肤库-锁@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,50}</string>
                <key>spriteSourceSize</key>
                <string>{45,50}</string>
                <key>textureRect</key>
                <string>{{265,0},{45,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>皮肤库-随机解锁@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,115}</string>
                <key>spriteSourceSize</key>
                <string>{308,115}</string>
                <key>textureRect</key>
                <string>{{0,492},{308,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>皮肤库-领金币@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{0,177},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Com.png</string>
            <key>size</key>
            <string>{483,928}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51f8aa20e7974e5c580d55365e37b99a:27cb83aa1c2af05ae3d01bcb8166e77e:597531a9b535197263d5aa48163f9b0a$</string>
            <key>textureFileName</key>
            <string>Com.png</string>
        </dict>
    </dict>
</plist>
