<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>吊板1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{754,62}</string>
                <key>spriteSourceSize</key>
                <string>{754,62}</string>
                <key>textureRect</key>
                <string>{{0,123},{754,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>吊板2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{754,62}</string>
                <key>spriteSourceSize</key>
                <string>{754,62}</string>
                <key>textureRect</key>
                <string>{{0,185},{754,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>吊板3@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{754,62}</string>
                <key>spriteSourceSize</key>
                <string>{754,62}</string>
                <key>textureRect</key>
                <string>{{0,247},{754,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>吊板4@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{754,62}</string>
                <key>spriteSourceSize</key>
                <string>{754,62}</string>
                <key>textureRect</key>
                <string>{{0,371},{754,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>吊板5@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{754,62}</string>
                <key>spriteSourceSize</key>
                <string>{754,62}</string>
                <key>textureRect</key>
                <string>{{0,309},{754,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装饰1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,45}</string>
                <key>spriteSourceSize</key>
                <string>{58,45}</string>
                <key>textureRect</key>
                <string>{{0,0},{58,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装饰2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,50}</string>
                <key>spriteSourceSize</key>
                <string>{58,50}</string>
                <key>textureRect</key>
                <string>{{181,0},{58,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装饰3@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,22}</string>
                <key>spriteSourceSize</key>
                <string>{123,22}</string>
                <key>textureRect</key>
                <string>{{58,0},{123,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装饰4@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,123}</string>
                <key>spriteSourceSize</key>
                <string>{120,123}</string>
                <key>textureRect</key>
                <string>{{342,0},{120,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>装饰5@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,35}</string>
                <key>spriteSourceSize</key>
                <string>{103,35}</string>
                <key>textureRect</key>
                <string>{{239,0},{103,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>铁棍1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,282}</string>
                <key>spriteSourceSize</key>
                <string>{278,282}</string>
                <key>textureRect</key>
                <string>{{273,433},{278,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>铁棍2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,292}</string>
                <key>spriteSourceSize</key>
                <string>{294,292}</string>
                <key>textureRect</key>
                <string>{{551,433},{294,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>铁棍3@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,292}</string>
                <key>spriteSourceSize</key>
                <string>{294,292}</string>
                <key>textureRect</key>
                <string>{{294,725},{294,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>铁棍4@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,292}</string>
                <key>spriteSourceSize</key>
                <string>{294,292}</string>
                <key>textureRect</key>
                <string>{{0,725},{294,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>铁棍5@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,284}</string>
                <key>spriteSourceSize</key>
                <string>{273,284}</string>
                <key>textureRect</key>
                <string>{{0,433},{273,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wall.png</string>
            <key>size</key>
            <string>{845,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:185483f1627be7817d1b03cad6e94455:0eff7559eb39a4fd60b72650931a3a30:891bf602c2ab71ca5bfbf87ad8aa76ea$</string>
            <key>textureFileName</key>
            <string>wall.png</string>
        </dict>
    </dict>
</plist>
