<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>冲锋枪2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,59}</string>
                <key>spriteSourceSize</key>
                <string>{92,59}</string>
                <key>textureRect</key>
                <string>{{0,209},{92,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>冲锋枪@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,59}</string>
                <key>spriteSourceSize</key>
                <string>{99,59}</string>
                <key>textureRect</key>
                <string>{{92,209},{99,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>刺刀枪@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,45}</string>
                <key>spriteSourceSize</key>
                <string>{140,45}</string>
                <key>textureRect</key>
                <string>{{20,0},{140,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>加特林@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,53}</string>
                <key>spriteSourceSize</key>
                <string>{185,53}</string>
                <key>textureRect</key>
                <string>{{0,103},{185,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>子弹3@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,18}</string>
                <key>spriteSourceSize</key>
                <string>{6,18}</string>
                <key>textureRect</key>
                <string>{{5,0},{6,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>手枪@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,50}</string>
                <key>spriteSourceSize</key>
                <string>{76,50}</string>
                <key>textureRect</key>
                <string>{{160,0},{76,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>手枪子弹@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,15}</string>
                <key>spriteSourceSize</key>
                <string>{5,15}</string>
                <key>textureRect</key>
                <string>{{0,0},{5,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>狙击枪2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,53}</string>
                <key>spriteSourceSize</key>
                <string>{224,53}</string>
                <key>textureRect</key>
                <string>{{0,156},{224,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>狙击枪子弹@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,26}</string>
                <key>spriteSourceSize</key>
                <string>{9,26}</string>
                <key>textureRect</key>
                <string>{{11,0},{9,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>粉色枪@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,53}</string>
                <key>spriteSourceSize</key>
                <string>{170,53}</string>
                <key>textureRect</key>
                <string>{{0,50},{170,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>红色枪@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,63}</string>
                <key>spriteSourceSize</key>
                <string>{172,63}</string>
                <key>textureRect</key>
                <string>{{0,329},{172,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>鸟枪@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,61}</string>
                <key>spriteSourceSize</key>
                <string>{179,61}</string>
                <key>textureRect</key>
                <string>{{0,268},{179,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>黄色枪@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,78}</string>
                <key>spriteSourceSize</key>
                <string>{147,78}</string>
                <key>textureRect</key>
                <string>{{0,392},{147,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gun.png</string>
            <key>size</key>
            <string>{236,470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a1d0ba20e2c1da37e79a4c3b6e79043:342431ad33e83eca9ae2fd31888d1d7b:e66248eae933b66f13da2e0bb59663f2$</string>
            <key>textureFileName</key>
            <string>gun.png</string>
        </dict>
    </dict>
</plist>
