<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,127}</string>
                <key>spriteSourceSize</key>
                <string>{152,127}</string>
                <key>textureRect</key>
                <string>{{846,0},{152,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,134}</string>
                <key>spriteSourceSize</key>
                <string>{148,134}</string>
                <key>textureRect</key>
                <string>{{258,127},{148,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,218}</string>
                <key>spriteSourceSize</key>
                <string>{294,218}</string>
                <key>textureRect</key>
                <string>{{0,461},{294,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,56}</string>
                <key>spriteSourceSize</key>
                <string>{66,56}</string>
                <key>textureRect</key>
                <string>{{172,0},{66,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{6,0},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{533,128}</string>
                <key>spriteSourceSize</key>
                <string>{533,128}</string>
                <key>textureRect</key>
                <string>{{294,461},{533,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{738,261},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>关卡@2x (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,76}</string>
                <key>spriteSourceSize</key>
                <string>{258,76}</string>
                <key>textureRect</key>
                <string>{{0,127},{258,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,123}</string>
                <key>spriteSourceSize</key>
                <string>{179,123}</string>
                <key>textureRect</key>
                <string>{{763,127},{179,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,121}</string>
                <key>spriteSourceSize</key>
                <string>{179,121}</string>
                <key>textureRect</key>
                <string>{{584,127},{179,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层3@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,121}</string>
                <key>spriteSourceSize</key>
                <string>{178,121}</string>
                <key>textureRect</key>
                <string>{{406,127},{178,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层4@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,127}</string>
                <key>spriteSourceSize</key>
                <string>{179,127}</string>
                <key>textureRect</key>
                <string>{{0,261},{179,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层5@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,137}</string>
                <key>spriteSourceSize</key>
                <string>{184,137}</string>
                <key>textureRect</key>
                <string>{{179,261},{184,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层6@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,175}</string>
                <key>spriteSourceSize</key>
                <string>{185,175}</string>
                <key>textureRect</key>
                <string>{{553,261},{185,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层7@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,170}</string>
                <key>spriteSourceSize</key>
                <string>{190,170}</string>
                <key>textureRect</key>
                <string>{{363,261},{190,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>更多好玩@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,29}</string>
                <key>spriteSourceSize</key>
                <string>{100,29}</string>
                <key>textureRect</key>
                <string>{{72,0},{100,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>满血@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,46}</string>
                <key>spriteSourceSize</key>
                <string>{52,46}</string>
                <key>textureRect</key>
                <string>{{20,0},{52,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>爆头@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{238,0},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>猜你喜欢框@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,196}</string>
                <key>spriteSourceSize</key>
                <string>{720,196}</string>
                <key>textureRect</key>
                <string>{{0,679},{720,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>竖立子弹@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,21}</string>
                <key>spriteSourceSize</key>
                <string>{6,21}</string>
                <key>textureRect</key>
                <string>{{0,0},{6,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>血条@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,35}</string>
                <key>spriteSourceSize</key>
                <string>{262,35}</string>
                <key>textureRect</key>
                <string>{{318,0},{262,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>血条背景@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,39}</string>
                <key>spriteSourceSize</key>
                <string>{266,39}</string>
                <key>textureRect</key>
                <string>{{580,0},{266,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Other_UI.png</string>
            <key>size</key>
            <string>{998,875}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d03dee7a0e6d4130837e89465fa0197a:d5a6a33b0e17b7326c1c20840c87e213:46e3d2ba5941e49c8e115cad8f131fb5$</string>
            <key>textureFileName</key>
            <string>Other_UI.png</string>
        </dict>
    </dict>
</plist>
