<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flycannon_pojia_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,178}</string>
                <key>spriteSourceSize</key>
                <string>{560,178}</string>
                <key>textureRect</key>
                <string>{{257,381},{560,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>冲锋枪2@2x@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,59}</string>
                <key>spriteSourceSize</key>
                <string>{93,59}</string>
                <key>textureRect</key>
                <string>{{0,53},{93,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>刺刀枪@2x@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,45}</string>
                <key>spriteSourceSize</key>
                <string>{140,45}</string>
                <key>textureRect</key>
                <string>{{0,0},{140,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>加特林@2x@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,53}</string>
                <key>spriteSourceSize</key>
                <string>{185,53}</string>
                <key>textureRect</key>
                <string>{{604,0},{185,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,59}</string>
                <key>spriteSourceSize</key>
                <string>{99,59}</string>
                <key>textureRect</key>
                <string>{{93,53},{99,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>怪物1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,120}</string>
                <key>spriteSourceSize</key>
                <string>{89,120}</string>
                <key>textureRect</key>
                <string>{{478,261},{89,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>怪物2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,120}</string>
                <key>spriteSourceSize</key>
                <string>{92,120}</string>
                <key>textureRect</key>
                <string>{{165,381},{92,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>怪物3@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,120}</string>
                <key>spriteSourceSize</key>
                <string>{96,120}</string>
                <key>textureRect</key>
                <string>{{749,261},{96,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>怪物4@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,120}</string>
                <key>spriteSourceSize</key>
                <string>{73,120}</string>
                <key>textureRect</key>
                <string>{{0,381},{73,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>怪物5@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,120}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{659,261},{90,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>手枪@2x@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,50}</string>
                <key>spriteSourceSize</key>
                <string>{76,50}</string>
                <key>textureRect</key>
                <string>{{140,0},{76,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>枪1@2x@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,67}</string>
                <key>spriteSourceSize</key>
                <string>{105,67}</string>
                <key>textureRect</key>
                <string>{{188,117},{105,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>枪2@2x@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,74}</string>
                <key>spriteSourceSize</key>
                <string>{192,74}</string>
                <key>textureRect</key>
                <string>{{574,187},{192,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>枪3@2x@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,69}</string>
                <key>spriteSourceSize</key>
                <string>{172,69}</string>
                <key>textureRect</key>
                <string>{{472,117},{172,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>枪4@2x@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,73}</string>
                <key>spriteSourceSize</key>
                <string>{210,73}</string>
                <key>textureRect</key>
                <string>{{364,187},{210,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>枪5@2x@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,64}</string>
                <key>spriteSourceSize</key>
                <string>{214,64}</string>
                <key>textureRect</key>
                <string>{{543,53},{214,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>枪6@2x@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,72}</string>
                <key>spriteSourceSize</key>
                <string>{181,72}</string>
                <key>textureRect</key>
                <string>{{183,187},{181,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>枪7@2x@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,70}</string>
                <key>spriteSourceSize</key>
                <string>{179,70}</string>
                <key>textureRect</key>
                <string>{{644,117},{179,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>枪8@2x@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,70}</string>
                <key>spriteSourceSize</key>
                <string>{183,70}</string>
                <key>textureRect</key>
                <string>{{0,187},{183,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>枪9@2x@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,68}</string>
                <key>spriteSourceSize</key>
                <string>{179,68}</string>
                <key>textureRect</key>
                <string>{{293,117},{179,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>狙击枪2@2x@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,52}</string>
                <key>spriteSourceSize</key>
                <string>{218,52}</string>
                <key>textureRect</key>
                <string>{{216,0},{218,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>狙击枪@2x@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,66}</string>
                <key>spriteSourceSize</key>
                <string>{188,66}</string>
                <key>textureRect</key>
                <string>{{0,117},{188,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>粉色枪@2x@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,53}</string>
                <key>spriteSourceSize</key>
                <string>{170,53}</string>
                <key>textureRect</key>
                <string>{{434,0},{170,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>红发-香克斯@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,120}</string>
                <key>spriteSourceSize</key>
                <string>{92,120}</string>
                <key>textureRect</key>
                <string>{{73,381},{92,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>红色枪@2x@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,63}</string>
                <key>spriteSourceSize</key>
                <string>{172,63}</string>
                <key>textureRect</key>
                <string>{{371,53},{172,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>老鸨@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,120}</string>
                <key>spriteSourceSize</key>
                <string>{82,120}</string>
                <key>textureRect</key>
                <string>{{225,261},{82,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>英雄1@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,120}</string>
                <key>spriteSourceSize</key>
                <string>{92,120}</string>
                <key>textureRect</key>
                <string>{{567,261},{92,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>英雄2@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,120}</string>
                <key>spriteSourceSize</key>
                <string>{78,120}</string>
                <key>textureRect</key>
                <string>{{147,261},{78,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>英雄3@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{84,120}</string>
                <key>textureRect</key>
                <string>{{307,261},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>鸟枪@2x@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,61}</string>
                <key>spriteSourceSize</key>
                <string>{179,61}</string>
                <key>textureRect</key>
                <string>{{192,53},{179,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>黄毛@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,120}</string>
                <key>spriteSourceSize</key>
                <string>{87,120}</string>
                <key>textureRect</key>
                <string>{{391,261},{87,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>黄色枪@2x@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,78}</string>
                <key>spriteSourceSize</key>
                <string>{147,78}</string>
                <key>textureRect</key>
                <string>{{0,261},{147,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PersonGun1.png</string>
            <key>size</key>
            <string>{845,559}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8f41caba4b4032082399a51117b44bb:8e91b9122caf3448643c59f7b5745ea1:26aa11a5c4da9d88e98f9127acd04e49$</string>
            <key>textureFileName</key>
            <string>PersonGun1.png</string>
        </dict>
    </dict>
</plist>
