<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>满血@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,46}</string>
                <key>spriteSourceSize</key>
                <string>{52,46}</string>
                <key>textureRect</key>
                <string>{{59,0},{52,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>爆头@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{163,0},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>空血@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,46}</string>
                <key>spriteSourceSize</key>
                <string>{52,46}</string>
                <key>textureRect</key>
                <string>{{111,0},{52,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>竖立子弹@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,52}</string>
                <key>spriteSourceSize</key>
                <string>{14,52}</string>
                <key>textureRect</key>
                <string>{{0,0},{14,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>获得血滴@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{14,0},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>血条@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,35}</string>
                <key>spriteSourceSize</key>
                <string>{151,35}</string>
                <key>textureRect</key>
                <string>{{0,80},{151,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>血条背景@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,39}</string>
                <key>spriteSourceSize</key>
                <string>{266,39}</string>
                <key>textureRect</key>
                <string>{{151,80},{266,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>视频@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,74}</string>
                <key>spriteSourceSize</key>
                <string>{88,74}</string>
                <key>textureRect</key>
                <string>{{243,0},{88,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GamePage.png</string>
            <key>size</key>
            <string>{417,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1020423b386488793c863f67ad25fa9:1fc89e72063f65dbe33896885fad3c95:bd6d8ef87e5b3cdfd6e9cf99469705e9$</string>
            <key>textureFileName</key>
            <string>GamePage.png</string>
        </dict>
    </dict>
</plist>
